html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav {
	background: #E91E63;
  padding: 0.5em;
  height: 2.8em;
}

.nav input {
	border-radius: 5px 5px 5px 5px;
	outline: none;
	border: none;
	background-color: #F06292;
	color: #FFFFFF;
  padding: 0.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

input[type=submit] {
  cursor: pointer;
}

.imagePreviews {
  max-height: calc(100% - 2.8em);
  overflow-y: scroll;
  float: left;
}

.imageView {
  padding: 0.5em;
  margin: 0;
  height: calc(100% - 2.8em);
  overflow: auto;
}

.imageView img {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.imagePreviews img {
  height: 150px;
  width: 150px;
  display: block;
  padding: 0.5em;
  object-fit: cover;
  cursor: pointer;
}

.imageFit {
  max-width: 99%;
  max-height: 99%;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: #E91E63;
	border: 0px none #ffffff;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
}

::-webkit-scrollbar-thumb:active {
}

::-webkit-scrollbar-track {
	background: #e1e1e1;
	border: 0px none #ffffff;
	border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
}

::-webkit-scrollbar-track:active {
}

::-webkit-scrollbar-corner {
	background: transparent;
}
